# PostgreSQL 连接字符串
# 格式：postgresql://用户名:密码@主机:端口/数据库名
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/iblog?schema=public"

# JWT 加密密钥
JWT_SECRET="i2u34y12oi3u4y8"

# 服务端口
PORT=3000

# 邮件服务配置（QQ 邮箱）
EMAIL_SERVICE="QQ"
EMAIL_USER="xxxxxxxxxx@qq.com"
EMAIL_PASS="xxxxxxxxxxxxx"
